.header {
    padding: 8px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title {
    padding: 4px;
}
.title > h2 {
    font-weight: 400;
}
.actions {
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 767.98px) {
    .header {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .title {
        width: auto;
    }
    .actions {
        justify-content: center;
        flex-flow: wrap;
    }
}