.cards-container {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    justify-content: stretch;
}
.cards-container.reverse {
    justify-content: flex-end;
}
.cards-container .card.small {
    flex-grow: 0;
    width: calc((100% / 4) - 12px);
}
.cards-container .card.medium {
    flex-grow: 0;
    width: calc((100% / 2) - 12px);
}
.cards-container .card.large {
    flex-grow: 0;
    width: 100%;
}
.cards-container .card.text-right {
    text-align: right;
}