/* --------------- HEADER --------------- */
.header-menu {
  padding: 0px 16px;
  background-color: #511212;
  position: sticky;
  top: 0;
  height: 60px;
  width: auto;
  z-index: 999;
  box-shadow: 0px 2px 8px rgba(42, 10, 10, 0.85);
}  
.header-title {
  color: white;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  left: 5%;
}
.library-logo {
  width: 50px;
  margin-right: 8px;
}
/* --------------- MENU ---------------*/
.navigation {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100%;
  right: 1%;
  background-color: #511212;
}
.nav-hidden {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100%;
  right: 1%;
}
.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #511212;
}
.nav-item {
  color: white;
  font-size: 16px;
  font-weight: lighter;
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
}
.nav-item:hover {
  transition: 0.3s ease;
  background-color: #651515;
}
.link-button {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

/* ---------- BOTAO MENU ---------------- */
.menu-button {
  position: fixed;
  right: 1%;
  margin: 10px;
  padding: 8px;
  font-size: large;
  color: white;
  background-color: #511212;
  border: 1px solid white;
  transition: 0.3s ease;
}
.menu-button:hover {
  transition: 0.3s ease;
  background-color: #651515;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 767.98px) { 
  .navigation {
    /* display: none; */
    position: absolute;
    justify-content: center;
    height: 100%;
    width: 100%;
    left: 0;
    top: 95%;
    /* background-color: #511212; */
  }
  .nav-hidden {
    display: none;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    /* background-color: #511212; */
    margin: 0;
    padding: 0px;
    width: 100%;
  }
  .nav-item {
    color: white;
    font-size: 16px;
    font-weight: lighter;
    padding: 16px 0px 16px 16px;
    cursor: pointer;
    background-color: #511212;
    width: 100%;
  }
}

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {} */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .menu-button {
      display: none;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header-title {
    margin-left: 10%;
  }
  .nav-border-space {
    margin-right: 10%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */