.interacao-container {
    padding: 10px;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form-search{
    display: flex;
}
.input-search {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
}
.button-action {
    width: fit-content;
    background-color: #561212;
    color: #FFFFFF;
    border: none;
    padding: 8px;
    border-radius: 5px;
}
.button-action:disabled {
    background-color: #6a3939;
    color: #969696;
}
.button-action:hover {
    background-color: #7e1212;
}
.select-category {
    padding: 5px;
    background-color: #561212;
    color: #FFFFFF;
    border-radius: 4px;
    width: fit-content;
    min-width: 160px;
}
.select-category:hover {
    background-color: #7e1212;
}
.label-category {
    margin: 10px;
    align-self: center;
}
.option-category {
    padding: 8px 4px;
}
