.footer {
    color: #FFFFFF;
    font-size: 10pt;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 42px;
    margin: 0;
    text-align: center;
    background: #511212;
    clear: both;
}
.wrap {
    padding: 12px 20px;
    margin: 0 auto;
}
