.card-book {
    position:'relative';
    margin: 4px;
    background-color: #FFFFFF;
    padding: 8px;
    box-shadow: 2px 2px 8px 3px lightgrey;
    border-radius: 2px;
    border: 3px solid transparent;
    transition: 0.3s ease;
}
.card-book:hover {
    box-shadow: 2px 2px 8px 5px rgba(166, 118, 116, 0.7);
    transition: 0.3s ease ;
}
.small {
    min-width: 220px;
    width: 22%;
}
.book-title {
    font-weight: 500;
    font-size: 11pt;
    margin: 4px;
    cursor: pointer;
}
.book-title:hover {
    text-decoration: underline;
}
.book-author {
    font-weight: 200;
    font-size: 10pt;
    margin: 4px;
    /* margin-top: 4px; */
}
.book-categ {
    font-style: italic;
    color: #808080;
    font-size: 8pt;
}
.book-info {
    display: block;
    font-size: 8pt;
    color: #808080;
}
/* .image-container {} */
.card-image {
    float: left;
    height: 100%;
    margin-right: 8px;
    width: 44%;
}
.selected {
    border-color: #651515;
    border-style: solid;
    border-width: 3px;
}
.button-add {
    background-color: #651515;
    color: #FFFFFF;
    padding: 4px;
    margin-inline: auto;
    margin-top: 2px;
    border: none;
    cursor: pointer;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .small {
        width: 90%;
        margin-inline-end: auto;
        margin-inline-start: auto;
    }
    .card-image {
        float: left;
        height: 100%;
        margin: 0px 2px;
        width: 100%;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) {
    .small {
        width: 44%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .small {
        /* min-width: 200px; */
        width: 28%;
    }
    .card-image {
        float: left;
        height: 100%;
        margin-right: 8px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .small {
        width: 29%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .small {
        min-width: 211px;
        width: 21%;
    }
}