.content-form {
    margin: auto;
    margin-top: 20px;
    padding: 40px;
    background-color: whitesmoke;
    border-radius: 4px;
    border: 1px solid;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper-field {
    display: flex;
    align-items: center;
}

/* INPUT */
.input-field {
    padding:8px;
    width: auto;
    min-width: 250px;
    margin: 4px;
    border: 3px solid #561212;
    color: #3b0c0c;
    border-radius: 4px;
}
.input-icon {
    position: relative;
    left: -30px;
    color: #561212;
}
.input-label {
    width: 50px;
    flex-wrap: wrap;
}

/* SELECT */
.select-iteself {
    padding: 5px;
    background-color: #561212;
    color: #FFFFFF;
    border-radius: 4px;
    width: fit-content;
}
select:hover {
    background-color: #7e1212;
}
.label-select {
    margin: 10px;
    align-self: center;
}
.option-select {
    padding: 8px 4px;
}


@media (max-width: 767.98px) { 
    .content-form {
        padding: 12px;
    }
}