.app-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    padding-bottom: 42px;
    transition: 0.3s ease;
}

@media (min-width: 992px) {
    .app-page {
        width: 90%;
        margin: auto;
    }
}