.reserva-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 2px 12px;
}
.table-selected {
    padding: 20px;
    margin-top: 12px;
    width: fit-content;
}